body {
    background-image: url("Images/dynamic-style.png");
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 60%;
    left: 30%;
    width: 40%;
    background-color: #4aaaa5;
    padding-top: 1%;
    color: white;
}

#picofme {
    position: relative;
    animation-name: example;
    animation-duration: 1.5s;  
    animation-fill-mode: forwards;
}

@keyframes example {
    from {top: 0px;}
    to {margin-left:10%;}
  }

.bg-light {
    background-color: #4aaaa5 !important;
}

.navbar-light {
    color: white !important;
}

a {
        color: white !important;
}

.forlinkedbutton {
    color: #4aaaa5 !important;
}

.fortext {
    padding-left: 2% !important;
}

.forboxes {
    padding-left: 2% !important; 
}

.forbutton {
    color: white !important;
    background-color: #4aaaa5 !important;
    margin-left: 5%;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.footerdata {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #666666;
    color: white;
    text-align: center;
    border-top: 8px;
    border-top-width: 100%;
    border-top-style: solid;
    border-color: #4aaaa5;
    font-size: 1vw;
}